<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sales">
	<test thread-count="5" name="cash-sales">
		<classes>
			<class name="automation_Testng_saturday.MyCash">
				<methods>
					<exclude name="myCasheSale_1"></exclude>
				</methods>

			</class>
			<class name="automation_Testng_saturday.MyCreditCard"></class>
			<class name="automation_Testng_saturday.MyVoucher"></class>


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->